body{
    height: 100%;
    width: 100%;
}



/************************************************ PreCompiled *****************************************************/
.header {
    background: linear-gradient(to top, #009689, #00b4b4); }

  .left-container {
    background: linear-gradient(to top, #009689, #00b4b4); }

  .nav-list-links, .logo-text {
    color: white; }

  .w-80 {
    width: 80%; }

  .t-bigger {
    font-size: 125%; }

  .notification {
    color: #009696; }
/*************************************************    Other    ******************************************************/
.header{
    width: 100%;
    background-color: rgb(251,251,251);
    min-height: 76px;
    box-shadow: 0 4px 10px -7px black;
}
*{
    font-family: roboto;
}
.logo-container,.nav-menu{
    line-height: 80px;
    margin: auto 0;
}
.nav-list{
    list-style-type: none;
}
.logo-text{
    font-size: 2.25rem;
    font-weight: lighter;
}
.nav-list-item{
    margin: 0 20px;
}
.nav-list-links{
    transition: .2s;
}
a:hover{
    color: #eee;
    text-decoration: none;
}






.content-container{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 85vh;
    width: 90vw;
    margin: 0 auto;
    box-shadow: 0 4px 60px -18px rgba(0,0,0,1);
    border-radius: 10px;
}
.left-container{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 80px 30px 20px;
}
.right-container{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.profile-container{
    position: relative;
    height: calc(100% - 100px);
}
.profile-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #fff6;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}
.profile-img i{
    color: white;
    font-size: 3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.esi-name{
    font-size: 20px;
}







.none{
    display: none;
}
.right-top{
    background-color: #fff;
    height: 20%;
    border-top-right-radius: 10px;
    position: relative;
    box-shadow: 0 2px 12px 0px rgba(0,0,0,.1)
}
.notification{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 36px;
}
.right-bottom{
    background-color: #fafafa;
    height: 80%;
    border-bottom-right-radius: 10px;
    overflow-y: auto;
}
.no-notification{
    font-size: 1.5rem;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.no-notification-icon{
    display: block  !important;
    text-align: center;
    font-size: 48px;
}



.card-block{
    box-shadow: 0 0px 50px -24px rgba(0,0,0,1);
}
.media-card{
    padding: 20px;
}
.media{
    margin: 20px 10px 10px;
    padding: 10px 10px;
    box-sizing: border-box;
    position: relative;
    height: auto;
}
.industury-icon{
    margin: auto 40px auto 20px;
    font-size: 48px;
    position: relative;
    top: 50%;
}